<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MIConvexHull" version="1.1.16.0905" targetFramework="net451" />
  <package id="PropertyTools.Wpf" version="1.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="StarMath" version="2.0.16.0529" targetFramework="net40" requireReinstallation="true" />
  <package id="TVGL" version="1.0.16.0905" targetFramework="net451" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net40" />
</packages>